<%- include('./includes/head.ejs') %>  
<!-- "-" is used to output unescaped html code (path is given from the point of view of where it's included) -->
    </head>

    <body>
        <div class="error-container">
            <h1>ERROR:404 </h1>
            <p>Page not found</p>
        </div>

 <%- include('./includes/end.ejs') %>  
